
/projetoapp/__pycache__/*
/apps/categories/__pycache__/
/apps/categories/migrations/
/apps/products/__pycache__/
/apps/products/migrations/
/apps/clients/__pycache__/
/apps/clients/migrations/
/apps/socialnetworks/__pycache__/
/apps/socialnetworks/migrations/
/apps/clientsocialnetwork/__pycache__/
/apps/clientsocialnetworks/migrations/
/apps/orders/__pycache__/
/apps/orders/migrations/
/apps/orderitem/__pycache__/
/apps/orderitem/migrations/
/apps/review/__pycache__/
/apps/review/migrations/
/apps/payments/__pycache__/
/apps/payments/migrations/

